
<div class="content">
    <h3 >
        Truth Table Generator
    </h3>
    <div class="alert alert-warning text-dark alert-dismissible fade show" role="alert">
        <strong>Please follow the guidance blow</strong><br>
        <strong>not</strong> not , ¬ , ! , ~ <br>
        <strong>and</strong> and , && , ∧ <br>
        <strong>or</strong> or , || , ∨ <br>
        <strong>if then</strong> → , -> , =><br>
        <strong>if only if</strong> ↔ <-> , <=><br>
        <strong>Example </strong><h5> p ∧ q → ¬r</h5>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <p class="overview">
       
        
    </p>
    <p>
        
        <input id="expressionInput" class="form-control" type="text" oninput="go();" placeholder="Enter a formula"/>
    </p>
    <div id="table-target">
        <!-- Generated truth tables go here -->
    </div>
</div>