<div class="d-flex justify-content-center ">
    <div class="card col-8 ">
  
      <div class="card-header">Contact Us</div>
      <div class="card-body py-4">
        <strong>

الشباب المشاركون في المنصة: <br>
1- حسن صيفي <br>
2- فواز الكناني <br>
3- فيصل الرويبعة <br>
4- فهد الدوسري <br>
5- مشعل المفلح <br>
6- نواف المطيري <br>
7- سعود الحماد <br>
8- عبيدالله الرشيدي <br>

        </strong>
       <div class="d-flex justify-content-center  py-4">
        <a href="https://www.facebook.com/hassan.alhkamis/" class="btn btn-primary mx-3 py-2">
            <i class="fab fa-facebook-square fa-3x " style="color: white;"></i>
          </a>
          <a href="https://github.com/khmish" class="btn btn-secondary mx-3 py-2">
            
            <i class="fab fa-github fa-3x " style="color: white;"></i>
          </a>
          <a href="https://www.linkedin.com/in/hassan-alkhamis-4a5179147/" class="btn btn-danger mx-3 py-2">
            
            <i class="fab fa-linkedin fa-3x " style="color: white;"></i>
          </a>
          <a href="mailto:hkh_2006@hotmail.com" class="btn btn-warning mx-3 py-2">
            <i class="fas fa-envelope fa-3x"></i>
            
          </a>
          
         
       </div>
  
  
      </div>
    </div>
    
  
  </div>
