<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#">Exames</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/maths']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Maths</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/stats']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contactUs']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" >Contact Us</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        #
      </form>
    </div>
  </nav>
