
<div class="row">

  <div class="col-md-2 ">
  
    <app-menu-maths></app-menu-maths>
  </div>
  <div class="col-md-9 col mr-1">,
    exports: [MenuMathsComponent]
  
    <div class="card ">
  
      <div class="card-header">Header</div>
      <div class="card-body">
        <div class="row">
  
          <div class="card  ">
            <div class="card-header">Primes</div>
            <div class="card-body">
  
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi provident numquam neque odio dignissimos
              molestias. Fugit itaque, accusamus dolorum et doloremque suscipit, quaerat perspiciatis temporibus a, rem
              inventore obcaecati repudiandae!
            </div>
          </div>
  
          
  
          <div class="card ">
            <div class="card-header">LSM</div>
            <div class="card-body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, earum. Reprehenderit, quasi illo? Ad
              maxime sint laboriosam accusantium molestias. Nulla, earum. Eum dolorum magnam voluptas ab necessitatibus.
              Beatae, odit tempora?
  
            </div>
          </div>
  
        </div>
  
  
  
      </div>
    </div>
    <div class="col-2 ">
  
  
    </div>
  
  </div>
</div>
