
<H1>Normal distribution</H1>

<h2 #solution> asd asd</h2>    
 <!-- <input type="text"  class="form-control"> -->

    <div class="form-group">
      <label for="">n "number of sample"</label>
      <input #nValue type="number" class="form-control" >
      
    </div>

    <div class="form-group">
        <label for="">x̅ "median"</label>
        <input #xValue type="number" class="form-control" >
        
      </div>
      <div class="form-group">
        <label for="">u "mean"</label>
        <input #uValue type="number" class="form-control" >
        
      </div>
      <div class="form-group">
        <label for="">σ "standard deviation"</label>
        <input #aValue type="number" class="form-control" >
        
      </div>
    
    <button type="button" (click)="calculate()" class="btn btn-primary">Calculate</button>

